body {
    font-family: 'Montserrat', sans-serif;
    background-color: #001d33;
    margin: 0;
    padding: 0;
    color: #fff;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #001d33;
  }
  
  header .logo span {
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.2em;
    color: #fff;
  }
  
  .logo img {
    height: 100px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .info-container {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .status {
    margin-top: 20px;
  }
  
  .status p {
    margin-bottom: 10px;
  }
  
  .status button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .status button.active {
    background-color: #4CAF50;
    color: #fff;
  }
  
  .status button.inactive {
    background-color: #f44336;
    color: #fff;
  }
  
  .confirmation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .confirmation-container p {
    margin-bottom: 10px;
  }
  
  .confirmation-container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .confirmation-container button.active {
    background-color: #4CAF50;
    color: #fff;
  }
  
  .confirmation-container button.inactive {
    background-color: #f44336;
    color: #fff;
  }
  
  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  